{% extends "home.html" %}
{% block content %}
<style>
    form {
    text-align: center;
    }
</style>
<body style="background-color:gray;">
    <div class="card-body">
        <h3 class="text-center"><b>Enter New Prison</b></h3>
        <br>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <a type="button" class="btn btn-danger" href="{%url 'prison-list' %}">Cancel</a>
            <button type="submit" class="btn btn-success">Create</button>
        </form>    
    </div>
</body>
{% endblock %}